.side-drawer {
  height: 100%;
  background: #171952;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

/* mobile navbar sidebar under lg breakpoint */
@media (max-width: 992px) {
  .navbar-collapse.collapsing .navbar-nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.2s ease;
  }

  .navbar-collapse.show .navbar-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    height: auto;
    width: 45%;
    transition: left 0.35s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 769px) {
  .navbar-collapse.collapsing .navbar-nav {
    display: none;
  }
}
