#avantages .title {
  font-size: 11pt;
  padding-top: 10px;
  padding-bottom: 2px;
  display: block;
}
#avantages .description {
  font-size: 10pt;
}

#avantages img {
  border: 0px;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  width: auto;
  box-sizing: border-box;
}
