.social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  background-color: #171952;
}

.social-list a {
  margin: 0;
  opacity: 0.6;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.social-list a:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .social-list h6 {
    font-size: 8.8pt;
  }
}
